.bg-grey{
    background-color: rgb(44, 43, 43);
    padding: 12px 30px;
}
.navbar-inverse .navbar-nav>.active>a{
    background-color: transparent;
	border-left: 1.5px solid white;
}
.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: transparent;
	color:white;
}
.navbar-inverse .navbar-toggle {
border: none;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: transparent;
}
body{
    background-image: url(../Предизвик/Images/image1.jpg);
    background-attachment: fixed;
    /* background-size: 100%; */
    background-size: auto;
}
.transparent-bg{
    background-color: transparent;
    padding: 30px;
    color: white;
    height: 60vh;
    padding-top: 130px;
} 
.white-bg{
    background-color: white;
}
.text-white{
    color: white;
    padding: 25px;
}
.margin{
    margin: 25px 0;
}
.icon{
    font-size: 25px;
}
.text-white{
    color: white;
    margin-top: -5px;
}
.question{
    color: white;
    border: none;
    background-color: rgb(26, 25, 25);
    border-radius: 3px;   
}
.footer{
    background-color: black;
    color: white;
    padding: 20px 0;
}
@media screen and (max-width:425px){
    .transparent-bg{
        padding-top: 65px;
        font-size: 12px;
    }  
}